<% cache(element) do %>
  <%= element_view_for(element) do |el| %>
    <h5><%= el.render :categories_headline %></h5>
    <% element.nested_elements.each do |nested_element| %>
      <%= render_element(nested_element) %>
    <% end %>
  <% end %>
<% end %>
